@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/* General styles */
.purple-text {
  color: #6069D0;
}
.section-header {
  font-size: 2rem; 
  font-weight: 600;
  text-transform: capitalize;
  margin: 1.5rem 0;
}
/*=================================
  Header styling starts here
=================================*/

.header-inner img {
  height: 70px;
  width: auto;
}

.header-inner {
  display: flex;
  align-items: center;
}
header h1 {
  text-transform: uppercase;
 letter-spacing: 2px;
  font-weight: 600;
  font-size: 25px;
  margin-top: 20px;
}

header {
  padding: 20px 0;
  border-bottom: 2px solid #aaa;
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Manager */
.manager {
  border-bottom: 2px solid #aaa;
}
.manager-inner {
  display: flex;
}
.manager-desc{
  flex-basis: 70%;
}

.manager-inner-heading span {
  margin-top: -1rem;
  display: block;
}

.manager-inner-heading,
.manager-inner-subheading {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 20px 0;
}
.manager-desc p {
  font-size: 1.3rem;
  color:#777;
  margin: 20px 0;
}

.green-link {
  text-transform: uppercase;
  background-color: #44C79D;
  color: white;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 15px 20px;
  margin-right: 20px;
  margin-bottom: 30px;

}

/* referrals */

.referrals {
  /* float: right; */
  flex-basis: 30%;
  padding: 60px 0;
  background-color: #6069D0;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.referrals span {
  font-size: 1.3rem;
  font-weight: 400;
}

.referrals .percentage {
  font-size: 1.3em;
  font-weight: 600;
}

.line-through {
border-bottom: 1px solid white;
line-height: 0.1em;
width: 60%;
text-align: center;
}
.line-through-inner {
  padding: 10px;
  background-color: #6069D0;
}
.referrals ul li {
  margin: 1rem 5px 1.2rem 5px;
}

.referrals .fa-male:before {
  font-size: 1.3rem;
}

.referrals .transparent-icon:before {
  color: rgba(255, 255, 255, 0.5);
}

/* insiders */

.insiders {
  border-bottom: 2px solid #aaa;
}

.profiles {
  display: flex;
  justify-content: space-between;
}
.profile {
  margin: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  color: #555;
  text-align: center;
}

.profile * {
  margin: 10px 0;
}
.profile .name {
  color: #44C79D;
  text-transform: uppercase;
  font-size: 1.5rem;
  /* margin: 1rem 0; */
  font-weight: 600;
}
.profile img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: top;
}

.profile .desc { 
  text-transform: capitalize;
  font-weight: 600;
}

.profile .muted{
  font-size: 0.9rem;
}

/* how it works */
.how-it-works-content ul  {
  display: flex;
  justify-content: space-around;
}
.how-it-works-content ul  li{
  display: flex;
flex-flow: column;
align-items: center;
flex-basis: 25%;
color: #777;
text-align: center;
}

.how-it-works-content ul li span.fa{
  /* height: 20px; */
  /* width: 20px; */
  /* padding: 10px; */
  margin: 40px 0;
}
.how-it-works-content ul li span.fa::before {
  font-size: 2rem;
  color: white;
  background-color: #6069D0;
  height: 20px;
  width: 20px;
  padding: 20px;
  border-radius: 50%;
}

.how-it-works-content ul li span:nth-child(2) {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.how-it-works-content ul li p {
  font-size: 1.3rem;
  
}

/* testimonials */
.testimonial {
  background-color: #6069D0;
  color: #fff;
  padding: 3rem 0;
  margin-top: 3rem;
}
.testimonial .header-inverse h2 {
  color: #fff;
  margin-bottom: 3rem;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.testimonial span.fa {
  flex-basis: 5%;
}

.testimonial p {
  font-size: 1.2rem;
  margin: 0 1rem;
}
.testimonial span.fa:before {
  font-size: 3rem;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  